body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;

}

header {

  border-bottom: 1px solid #3d3d3d;
  img {
    margin-right: 15px;
  }

  h3 {
    
  }
  
  
}
.login-button {
  margin-right: 0px;
  padding: 10px 20px;
  border: 1px;
  border-radius: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;

  &:hover {
    background-color: #dbdbdb;
  }


}

.signin-button {
  margin-right: 0px;
  padding: 10px 20px;
  border: 1px;
  border-radius: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;

  &:hover {
    background-color: #dbdbdb;
  } 
  
}

.cart-button {
  margin-right: 0px;
  padding: 10px 20px;
  border: 1px;
  border-radius: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  

  &:hover {
    background-color: #dbdbdb;
  }
}

.profile-button {
  margin-right: 0px;
  padding: 10px;
  border: 1px;
  border-radius: 30px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  

  &:hover {
    background-color: #dbdbdb;
  }
}


.content {
  h1 {
    margin: 0;
  }
}

.footer {
  
  font-size: 14px;
  position: absolute;
}

.facebook, .whatsapp, .instagram {
 
  margin-right: 0px;
  padding: 1px ;
  border: 1px;
  
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  

  
}
