body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e6e6e6;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;

}

header {

  border-bottom: 1px solid #3d3d3d;
  img {
    margin-right: 15px;
  }

  h3 {
    
  }

  

  
  
}
.login-button {
  margin-right: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;

  &:hover {
    background-color: #dbdbdb;
    
  }


}

.userData {
  font-size: 15px;
}

.signin-button {
  margin-right: 0px;
  padding: 10px 20px;

  border-radius: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;

  &:hover {
    background-color: #dbdbdb;
    border: none;
  } 
  
}

.logOutButton {
  margin-right: 0px;
  padding: 10px 20px;
  border: 1px;
  border-radius: 20px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;

  &:hover {
    background-color: #dbdbdb;
  } 

}

.cart-button {
  margin-right: 0px;
  padding: 10px 20px;
  border: 1px;
  border-radius: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  

  &:hover {
    background-color: #dbdbdb;
  }
}

.profile-button {
  margin-right: 0px;
  padding: 10px;
  border: 1px;
  border-radius: 30px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  

  &:hover {
    background-color: #dbdbdb;
  }
}


.content {
  margin-top: 0;
  margin-bottom: auto;
  h1 {
    margin: 0;
  }

  
  
}

.search-container {
  position: relative;
  margin-top: -7% ;
  margin-bottom: 10%;
}

.input-search {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 17px;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  padding-left: 50px;
}



.card {
  border: 1px solid #606060;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  background-color: #ffffff;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 20px 30px rgb(196, 196, 196);
    transform: translateY(-5px);
  }



  h5 {
    font-weight: 400;
    font-size: 18px;
    

  }

  b {
    font-size: 20px;
  }
  


}
.button {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px solid;
  height: 40px;
  width: 40px;
  cursor: pointer;

  margin-left: auto;


}

.footer {
  
  font-size: 14px;
  position: absolute;
}

.facebook, .whatsapp, .instagram {
 
  margin-right: 0px;
  padding: 1px ;
  border: 1px;
  
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;
  

  
}

.authForm {
  
  border: 1px solid #606060;
  padding: 30px;
  width: 450px;
  border-radius: 40px;
  background-color: #ffffff;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  
  

  &:hover {
    box-shadow: 0px 20px 30px rgb(196, 196, 196);
    transform: translateY(-5px);
  }
}
.authFormTwo {
  
  border: 1px solid #606060;
  padding: 30px;
  width: 450px;
  border-radius: 40px;
  background-color: #ffffff;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
  
  

  &:hover {
    box-shadow: 0px 20px 30px rgb(196, 196, 196);
    transform: translateY(-5px);
  }
}

.reg {
  border: 1px solid #606060;
  padding: 30px;
  width: 450px;
  border-radius: 40px;
  background-color: #ffffff;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 20px 30px rgb(196, 196, 196);
    transform: translateY(-5px);
  }
}

.notification1 {
  font-size: 20px;;
  text-align: center;
}
.notification2 {
  font-size: 20px;
  text-align: center;
}

.loginInput {
  margin-bottom: 5%;
  margin-right: 0px;
  padding: 10px;
  border: 1px solid ;
  border-radius: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.passwordInputReg {
  margin-bottom: 10%;
  margin-right: 0px;
  padding: 10px;
  border: 1px solid ;
  border-radius: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.submitButton {
  margin-right: 0px;
  padding: 10px;
  border: 1px solid ;
  border-radius: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
  

  &:hover {
    background-color: #dbdbdb;
    border: none;
  }
  
  
} 

// Стили добавленные для поиска книг

.search-field {
  text-align: center;
  margin-bottom: 50px;

  .search-bar {
    position: relative;
    width: 50%;
    margin: 20px auto;

    input {
      width: 100%;
      border-radius: 17px;
      border: 1px solid #606060;
      height: 40px;
      padding: 10px;
      font-size: 18px;
      padding-left: 50px; // Увеличьте это значение, если иконка перекрывает текст
    }

    .search-icon {
      position: absolute;
      left: 15px; // Измените это значение, чтобы переместить иконку влево или вправо
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
    }
  }

  form {
    margin: 20px;
    font-size: 18px;
  }

  .found-books {
    display: flex;
    justify-content: center;
  }
}


.modal {
  font-size: 18px;
}
//=============================================================


.btn-secondary {
  margin-right: 0px;
  padding: 10px;
  border: 1px solid; // Укажите цвет границы, если нужно
  border-radius: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #f8f9fa; // Выберите цвет при наведении, который вам подходит
    color: #606060; // Выберите цвет текста при наведении, который вам подходит
  }
}

.modal-title {
  font-size: 25px;
}

.buy-button {

  width: 600px;
  height: 60px;
    margin-right: 0px;
    padding: 10px;
    border: 1px solid; // Укажите цвет границы, если нужно
    border-radius: 10px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #8d8d8d; // Выберите цвет при наведении, который вам подходит
      color: #313131; // Выберите цвет текста при наведении, который вам подходит
      border: none;
    
    }
  
  }
  
  .doneness {
    margin-left: 43%;
    margin-bottom: 33px;
  }